URxvt.internalBorder:   5
URxvt.scrollBar: false
URxvt.font: xft:xos4 Terminus:size=12

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Base16 Flat
! Scheme: Chris Kempson (http://chriskempson.com)
urxvt.depth: 32

! URxvt*background:                     [95]#2C3E50
URxvt*scrollColor:                    #e0e0e0
URxvt*highlightColor:                 #7F8C8D
URxvt*highlightTextColor:             #BDC3C7

! special
URxvt.foreground:   #c0c5ce
URxvt.background:   [98]#2b303b
URxvt.cursorColor:  #c0c5ce

! black
URxvt.color0:       #2b303b
URxvt.color8:       #65737e

! red
URxvt.color1:       #bf616a
URxvt.color9:       #bf616a

! green
URxvt.color2:       #a3be8c
URxvt.color10:      #a3be8c

! yellow
URxvt.color3:       #ebcb8b
.color11:      #ebcb8b

! blue
URxvt.color4:       #8fa1b3
URxvt.color12:      #8fa1b3

! magenta
URxvt.color5:       #b48ead
URxvt.color13:      #b48ead

! cyan
URxvt.color6:       #96b5b4
URxvt.color14:      #96b5b4

! white
URxvt.color7:       #c0c5ce
URxvt.color15:      #eff1f5

URxvt.borderColor:    [95]#2b303b 

xcursor.theme: Breeze-Obsidian
Xcursor.size: 24

URxvt.iso14755: false


rofi.separator: none
rofi.color-enabled: true
! --- APPLY XRES BEGIN
rofi.color-window: #2b303b, #c0c5ce, #2b303b, #c0c5ce, #2b303b
rofi.color-normal: #2b303b, #c0c5ce, #2b303b, #c0c5ce, #2b303b
rofi.color-urgent: #2b303b, #c0c5ce, #2b303b, #c0c5ce, #2b303b
rofi.color-active: #2b303b, #c0c5ce, #2b303b, #c0c5ce, #2b303b
! --- APPLY XRES END
rofi.padding:		250
rofi.separator-style: 	none
rofi.font:		xos4 Terminus 12
